<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="calculApp">
<head>
    <title>EZO DEFI - CALCULATRICE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<style>

body {
    margin: 0;
    padding: 0;
}
.saleh {
    margin: 0 auto;
}

.calcontainer {
    margin-left: 0;
    margin-top: 30px;
    width: 316px;
}

#panel {
    text-align: right;
    width: 274px;
    height: 80px;
    font-size: 26px;
    background-color: white;
}

#panel:hover {
    cursor: col-resize;
}

.bttn {
    margin-bottom: 8px;
    margin-left: 5px;
    width: 59px;
    height: 45px;
    font-size: 22px;
}

.bttne {
    width: 120px;
    margin-top: 10px;
    margin-right: 11px;
}

</style>
<body ng-controller="calculController as calcul">
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <!-- Resources -->
            <h2>Calculatrice {{1 + 2}}</h2>
            <p>Entrer les chiffres a et b pour effctuer les calculs d'addition, de soustraction, multiplication et de division</p>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12  col-sm-offset-4 col-sm-12  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6  ">
            <form name="form" class="well calcontainer col-xs-12  col-sm-offset-4 col-sm-12  col-md-offset-3 col-md-6  col-lg-offset-3 col-lg-6">

                <!-- panel for the calc -->

                <input class=" form-control " id="panel" name="panel" ng-model="panel" placeholder="0." disabled><br/>

                <!-- User Input Buttons for the calc -->

                <input class="form-group btn btn-default bttn" type="button" name="bttn7" ng-value="7" ng-click="selectCalc(7)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn8" ng-value="8" ng-click="selectCalc(8)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn9" ng-value="9" ng-click="selectCalc(9)">
                <input class="form-group btn btn-danger bttn" type="button" name="bttnplus"  value="+" ng-click="addCalc()"><br/>


                <input class="form-group btn btn-default bttn" type="button" name="bttn4" ng-value="4" ng-click="selectCalc(4)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn5" ng-value="5" ng-click="selectCalc(5)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn6" ng-value="6" ng-click="selectCalc(6)">
                <input class="form-group btn btn-danger bttn" type="button" name="bttnminus" value="-" ng-click="subCalc()"><br/>

                <input class="form-group btn btn-default bttn" type="button" name="bttn1" value="1"  ng-click="selectCalc(1)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn2" value="2" ng-click="selectCalc(2)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn3" value="3" ng-click="selectCalc(3)">
                <input class="form-group btn btn-danger bttn" type="button" name="bttnmulti" value="*" ng-click="pdtCalc()"><br/>


                <input class="form-group btn btn-default bttn" type="button" name="bttndot" value="." ng-model="selectedValue" ng-click="selectCalc(selectedValue)">
                <input class="form-group btn btn-default bttn" type="button" name="bttn0" ng-value="0" ng-click="selectCalc(0)">
                <input class="form-group btn btn-danger bttn" type="button" name="bttnmod" value="%" ng-model="selectedValue" ng-click="selectCalc(selectedValue)">
                <input class="form-group btn btn-danger bttn" type="button" name="bttndiv" value="/" ng-click="divCalc()"><br/>

                <!-- calling new reset function -->
                <input class="form-group btn btn-info bttn bttne" type="button" name="bttnclear" value="CE"  ng-click="erase()">

                <input class="form-group btn btn-success bttn bttne" type="button" name="bttnEQL" value="=" ng-model="selectedValue" onclick="eval(selectedValue)">


            </form>


        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/calcul.js"></script>

</body>
</html>